{erl_opts, [debug_info]}.

{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.

{plugins, [
    {rebar3_hamler, {git, "https://github.com/hamler-lang/rebar3_hamler", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {hamler, compile}}]}
]}.

